@mixin flex($width: unset, $direction: row, $align: normal, $justify: normal) {
  display: flex;
  width: $width;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin text-style($font, $line-height, $weight) {
  font-size: $font;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin mobile {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet-breakpoint-min) and (max-width: $tablet-breakpoint-max) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
